body{
    background: #DDB528;
    background-position: fixed;
    background-size: cover;
}
.flex-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-position: fixed;
}
h1, h2{
    font-family: Slabo 27px;
    text-align: center;
}
p{
    font-family: Single Day;
    text-align: center;
}
#one{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 0px;
    align-content: center;
    height: 190;
    width: 150;
}
#two{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#three{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#four{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#five{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#six{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#seven{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#eight{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#nine{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#ten{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#eleven{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#twelve{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
