body{
    background: #DDB528;
    background-position: fixed;
    background-size: cover;
}
.flex-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-position: fixed;
}
h1, h2{
    font-family: Slabo 27px;
    text-align: center;
}
p{
    font-family: Single Day;
    text-align: center;
}
#one{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 0px;
    align-content: center;
    height: 190;
    width: 150;
}
#two{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#three{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#four{
    justify-content: left;
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#five{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#six{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#seven{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#eight{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#nine{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#ten{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#eleven{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
#twelve{
    justify-items: center;
    float: left;
    position: relative;
    margin: 5px;
    align-content: center;
    height: 190;
    width: 150;
}
img > p{
    background-color: aliceblue;
}
.card{
    background-color: aliceblue;
    text-align: center;
    width: 200px;
    margin: 5px;
}
.total-amount, .delivery-cost {
    font-weight: bold;
    font-size: 1.6em;
  }
.hidden {
    display: none;
}
.checkout-options, .location {
    z-index: 3;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    height: 60vh;
    background: rgba(255, 208, 0, 0.979);
    position: relative;
    top: 100%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.table{
    background: rgba(255, 208, 0, 0.979);
}
.d-flex{
    background-color: black;
    color: aliceblue;
}

