body{
    background: #DDB528;
    background-position: fixed;
    background-size: cover;
}
.flex-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-position: fixed;
}
h1, h2{
    font-family: Slabo 27px;
    text-align: center;
}
